.line-border {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

.component-wrapper {
  height: 100%;
  .el-menu {
    padding: 0 24px;
  }
  .component-content {
    height: calc(100% - 60px);
    background-color: $light-gray;
  }
}

.component-options-wrapper {
  display: flex;
  padding: 12px 24px;
}