.el-notification__content {
  margin: 0;
}

.el-menu {
  border: 0 !important;
  width: 100%;
  .el-submenu {
    &.is-active {
      .el-submenu__title {
        color: $primary !important;
      }
    }
  }
}
// 折叠
.el-menu--collapse {
  .nav-title-wrapper {
    justify-content: center;
  }
}


.el-dropdown-menu{
  padding: 6px 0;
  .el-dropdown-menu__item{
    padding: 0 12px;
    min-width: 120px;
  }
}

.el-button {
  min-width: 90px;
}


.el-dialog {
  min-width: 600px;

  .el-dialog__close {
    font-size: 24px;
  }
  .el-dialog__body{
    padding: 20px;
  }
}

