$m-padding: 12px;
$s-padding: 4px;

// color
$red: #F56C6C;
$light-red: #ffeaea;
$green: #16BB83;
$warning: #E9A71D;
$primary: #0B8BF4;
$light-primary: #e2eeff;
$gray: #666666;
$light-gray: #eaecef;
$black: #24292e;
$white: #ffffff;



// size
$top-bar-height: 60px;
$left-nav-width: 200px;



